# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
Debug
LoreiGui/Win32
LoreiLib/Win32
LoreiTest/Win32
LoreiGui/x64
LoreiLib/x64
LoreiTest/X64

# Visual Studio Stuff
*.sdf
*.opensdf
*.vcxproj.user
Lorei_2.0.v12.suo

#Nuget Stuff
packages/